{
  presets: [
    [
      '@babel/env',
      {
        exclude: [
          'proposal-dynamic-import'
        ]
      }
    ],
    [
      '@babel/preset-react',
      {
        exclude: [
          'proposal-dynamic-import'
        ]
      }
    ]
  ]
}
